{% extends 'app/base.html' %}
{% load staticfiles %}
{% block content %}
<section class="section">
    <div class="row">
        <h4>Devices Infos</h4>
        <a href="{% url 'devices:update' device.pk %}"><i class="tiny material-icons">edit</i></a>
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" value="{{device.name}}" id="name" disabled>
                    <label for="name">Name</label>
                </div>
                <div class="input-field col s6">
                    <input type="text" value="{{device.type.name}}" id="type" disabled>
                    <label for="type">Type</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" value="{{device.serial_number}}" id="serial" disabled>
                    <label for="serial">Serial Number</label>
                </div>
                <div class="input-field col s6">
                    <input type="text" value="{{device.tag}}" id="tag" disabled>
                    <label for="tag">Tag</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" value="{{device.model}}" id="model" disabled>
                    <label for="model">Model</label>
                </div>
                <div class="input-field col s6">
                    <input type="text" value="{{device.brand}}" id="brand" disabled>
                    <label for="brand">Brand</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" value="{{device.created|date:'d/m/Y'}}" id="created" disabled>
                    <label for="created">Created</label>
                </div>
            </div>
        </form>
    </div>
</section>
<section class="section">
    <div class="row">
        <div class="col s12">
            <div class="row">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h4>History Items</h4>
            <a class="waves-effect waves-light btn modal-trigger" href="#modalNewItem">New Item</a>
            <ul class="collection" id="history-items">
                {% for item in items_filtered|dictsortreversed:"date" %}
                    <li class="collection-item">
                        <div class="row">
                                <div class="col s10">
                                        <span class="title">{{item.title}}</span>
                                </div>
                                <div class="col s2">
                                        <p class="right-align">{{item.date|date:'d/m/Y'}}</p>
                                </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <p>{{item.description}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s10">
                                <p>{{item.keywords}}</p>
                            </div>
                            <div class="col s2">
                                <a href="#!" class="secondary-content"><i class="material-icons">delete</i></a>
                                <a href="#!" class="secondary-content"><i class="material-icons">mode_edit</i></a>
                            </div
                        </div>
                    </li>
                {% endfor %}
            </ul>

            <p class="right-align">
                Estamos listando {{request.GET.maxitems}} de {{ device.history_items.count }} -
                <a href="{% url 'devices:details' device.pk %}?maxitems={{request.GET.maxitems|add:5}}">ver mais</a>
            </p>
        </div>
    </div>

</section>

<!-- Modal New History Item -->
<div id="modalNewItem" class="modal"item-create>
    <form id="newItem" action="{% url 'devices:item-create' %}" method="POST">
        <input type="hidden" name="device" value="{{device.pk}}">
        <div class="modal-content">
            <h4>Create New History Item</h4>
            <div class="row">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" name="title" id="title">
                        <label for="title">Title</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea class="materialize-textarea" name="description" id="description"></textarea>
                        <label for="description">description</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" name="keywords" id="keywords" placeholder="e.g #New #Change #ProjectNewDepartment #Rebuild">
                        <label for="keywords">Keywords</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn waves-effect waves-light" type="button" id="btn-create-new-item">Create new Item
                <i class="material-icons right">send</i>
            </button
        </div>
    </form>
</div>
{% endblock %}

{% block extras %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'js/create-history-item.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/csrftoken.js'%}"></script>
{% endblock %}
